.btn-fb{
    background-color: rgb(59,89,152);
    border-color: rgb(59,89,152);
    color: white;
}
.btn-fb:hover{
    background-color: rgb(49, 67, 105);
}
.img{
    max-width: 100%;
    height: auto;
}